@charset "UTF-8";
body {
    background-color: rgb(58, 80, 114);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(37, 123, 253);
}
h1#principal {
    text-align: center;
    background-color: white;
}
h2 {
    color: rgb(114, 171, 255);
}
.basico {
    color: rgb(0, 240, 0);
}
.intermediario {
    color: rgb(244, 248, 0);
}
.avancado {
    color: red;
}