@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
* {
    font-family: Sriracha;
}
body {
    margin: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
header > h1 {
    font-family: Passion One;
    font-size: 50px;
    margin-bottom: 0px;
}
p {
    font-size: 30px;
    padding: 20px;
}
div#flor {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    padding: 20px;
}
p.fundo {
    background-image: linear-gradient(to right,#ffffff1e,#00000000 );
}
div#livro {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    padding: 20px;
}
p.fundo2 {
    background-image: linear-gradient(to right,#0000009f,#00000000 );
}
footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -40px;
    text-align: center;
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p#footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: 20px;
}
a::after {
    content:'\1F517';
}
a:hover {
    background-color: rgba(61, 61, 45, 0.753);
    text-decoration: underline;
}